.window-content {
    background: url(/systems/punkapocalyptic/assets/bg_item.png) repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.editable {
    cursor: pointer;
}