.message-icon {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.chat-message.blind {
    background: url(/systems/punkapocalyptic/assets/backgrounds/chat-message-background-blind.png) !important;
}