// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// Custom fonts
//@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Rubik+Dirt&display=swap');
@font-face {
  font-family: 'VKB KonQa';
  src: url('/systems/punkapocalyptic/assets/fonts/VKBKonQa_Capitalist_acento.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scurlock';
  src: url('/systems/punkapocalyptic/assets/fonts/Scurlock_0.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poison Hope';
  src: url('/systems/punkapocalyptic/assets/fonts/PoisonHope-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}


// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'components/messages';

/* Styles limited to punkapocalyptic sheets */
.punkapocalyptic {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
  @import 'components/characters';
}

.punkapocalyptic.sheet.actor {
  background-image: url(/systems/punkapocalyptic/assets/backgrounds/test.png);
  background-color: #d7d5ca;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* Mask bg color */
  mask-image: url('/systems/punkapocalyptic/assets/backgrounds/test-mask.png');
  mask-mode: alpha; 
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  /* For Safari and older WebKit-based browsers, add the -webkit- prefix too */
  -webkit-mask-image: url('/systems/punkapocalyptic/assets/backgrounds/test-mask.png');
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  @import 'components/sheet';
}

.punkapocalyptic.sheet.npc {
  // background-image: url(/systems/punkapocalyptic/assets/backgrounds/test_npc.png);
  background-color: #d7d5ca;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  /* “frame” or decorative image */
  background-image: url('/systems/punkapocalyptic/assets/backgrounds/test_npc.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* Mask bg color */
  mask-image: url('/systems/punkapocalyptic/assets/backgrounds/test_npc-mask.png');
  mask-mode: alpha; 
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  /* For Safari and older WebKit-based browsers, add the -webkit- prefix too */
  -webkit-mask-image: url('/systems/punkapocalyptic/assets/backgrounds/test_npc-mask.png');
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  
  @import 'components/sheet';
}

.punkapocalyptic.sheet.vehicle {
  background-image: url(/systems/punkapocalyptic/assets/backgrounds/tiretracks.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d7d5ca;

     /* Mask bg color */
  mask-image: url('/systems/punkapocalyptic/assets/backgrounds/tiretracks_mask.png');
  mask-mode: alpha; 
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  /* For Safari and older WebKit-based browsers, add the -webkit- prefix too */
  -webkit-mask-image: url('/systems/punkapocalyptic/assets/backgrounds/tiretracks_mask.png');
  -webkit-mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
    @import 'components/vehiclesheet';
    @import 'components/dashboard';
}

.punkapocalyptic.sheet.item {
  @import 'components/item';
}

